In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import json

In [41]:
url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20200601&stockNo={stockiid}'.format(stockiid=3008)
DATA = json.loads(BeautifulSoup(requests.get(url = url).text,'html.parser').text)        
df = pd.DataFrame(np.array(DATA['data'])).rename(index=str, columns={0: "date", 1: "volume",3: "open",4: "high",5: "low",6: "close"})\
.drop([2,7,8],axis = 1)
df['stockiid'] = '3008'


df

        date     volume      open      high       low     close stockiid
0  109/06/01  1,126,489  3,880.00  4,070.00  3,865.00  4,065.00     3008
1  109/06/02  1,012,554  4,095.00  4,205.00  4,060.00  4,085.00     3008
2  109/06/03  1,191,133  4,200.00  4,300.00  4,185.00  4,270.00     3008
3  109/06/04    553,383  4,320.00  4,330.00  4,230.00  4,240.00     3008
4  109/06/05    602,101  4,345.00  4,345.00  4,245.00  4,270.00     3008

In [43]:
df

         date     volume      open      high       low     close stockiid
0  2020/06/01  1,126,489  3,880.00  4,070.00  3,865.00  4,065.00     3008
1  2020/06/02  1,012,554  4,095.00  4,205.00  4,060.00  4,085.00     3008
2  2020/06/03  1,191,133  4,200.00  4,300.00  4,185.00  4,270.00     3008
3  2020/06/04    553,383  4,320.00  4,330.00  4,230.00  4,240.00     3008
4  2020/06/05    602,101  4,345.00  4,345.00  4,245.00  4,270.00     3008

In [15]:
url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20160201&stockNo=2330'

str

In [28]:
import random

In [30]:
random.choice([0.5,0.6,0,7,1,4])

0