In [1]:
import pymysql

In [2]:
import pymysql
import pandas as pd
import numpy as np
db = pymysql.connect(host='0.tcp.ngrok.io',port=13365,user='dbuser3',passwd='aabb1234',db='Project_test')
cur = db.cursor()

sql = 'select * from daily_trade_tw where stockiid=2330;'
a = cur.execute(sql)
Data = [i for i in cur.fetchall()]


pd.DataFrame(np.array(Data))

cur.close()
db.close()

In [3]:
pd.DataFrame(np.array(Data))

         0           1       2       3       4       5         6
0     2330  2010-01-04   65.00   65.00   64.00   64.90  39511138
1     2330  2010-01-05   65.00   65.10   63.90   64.50  38394084
2     2330  2010-01-06   64.50   64.90   63.70   64.90  52734385
3     2330  2010-01-07   64.90   65.00   64.20   64.20  53294614
4     2330  2010-01-08   63.50   64.30   63.50   64.00  48047497
5     2330  2010-01-11   64.00   64.90   63.50   64.50  37446686
6     2330  2010-01-12   64.40   64.40   63.30   63.60  52444792
7     2330  2010-01-13   63.00   63.10   62.60   62.80  49806496
8     2330  2010-01-14   63.60   63.60   63.00   63.20  39254264
9     2330  2010-01-15   62.90   63.50   62.80   63.50  50011109
10    2330  2010-01-18   62.80   63.10   62.80   62.90  30586332
11    2330  2010-01-19   63.00   63.20   62.00   62.50  47541231
12    2330  2010-01-20   62.90   63.20   62.20   63.00  52519052
13    2330  2010-01-21   63.00   63.00   62.10   62.60  24842055
14    2330  2010-01-22   61.50   61.70   61.00   61.10  64001109
15    2330  2010-01-25   60.10   60.80   60.10   60.40  62230836
16    2330  2010-01-26   60.60   61.20   60.00   60.10  80078237
17    2330  2010-01-27   60.10   60.40   59.50   59.60  53876237
18    2330  2010-01-28   60.50   61.50   59.80   60.00  44033633
19    2330  2010-01-29   60.10   61.50   59.40   61.50  98124608
20    2330  2010-02-01   60.70   60.70   59.50   59.80  82234872
21    2330  2010-02-02   60.20   60.40   59.00   59.00  72141345
22    2330  2010-02-03   60.20   60.30   58.80   59.80  42627861
23    2330  2010-02-04   60.00   60.00   59.00   59.10  46032165
24    2330  2010-02-05   57.60   57.90   57.20   57.20  66295018
25    2330  2010-02-06   57.60   58.10   57.30   58.00  16391569
26    2330  2010-02-08   58.00   58.20   57.00   57.40  45835431
27    2330  2010-02-09   58.40   59.20   57.70   58.60  49551665
28    2330  2010-02-10   59.00   59.20   58.20   58.40  53809831
29    2330  2010-02-22   60.50   60.50   59.00   59.00  49684787
...    ...         ...     ...     ...     ...     ...       ...
2532  2330  2020-04-24  295.50  297.00  294.00  294.00  26465090
2533  2330  2020-04-27  298.00  298.50  296.00  298.00  38493406
2534  2330  2020-04-28  298.50  298.50  294.50  296.50  37621165
2535  2330  2020-04-29  299.00  301.50  298.00  299.00  46253301
2536  2330  2020-04-30  302.00  305.00  301.50  304.50  58439085
2537  2330  2020-05-04  294.50  296.50  294.00  295.00  72252861
2538  2330  2020-05-05  296.50  298.00  295.00  295.50  23988405
2539  2330  2020-05-06  294.50  296.00  292.50  296.00  35704479
2540  2330  2020-05-07  294.50  299.00  294.50  297.50  28017198
2541  2330  2020-05-08  300.00  300.00  296.00  297.50  35613893
2542  2330  2020-05-11  300.00  301.50  298.50  301.00  32379019
2543  2330  2020-05-12  297.50  298.50  295.00  295.00  52494788
2544  2330  2020-05-13  293.00  297.00  292.50  297.00  46158418
2545  2330  2020-05-14  293.00  295.00  292.50  293.00  34480948
2546  2330  2020-05-15  297.50  298.50  294.50  298.00  44304804
2547  2330  2020-05-18  291.00  293.50  290.00  290.00  96872065
2548  2330  2020-05-19  294.00  294.00  291.50  291.50  53083214
2549  2330  2020-05-20  293.00  294.00  291.00  294.00  36789994
2550  2330  2020-05-21  296.00  298.00  295.00  297.50  36299468
2551  2330  2020-05-22  294.50  295.00  291.00  292.00  41138923
2552  2330  2020-05-25  290.50  293.00  288.50  292.00  32942223
2553  2330  2020-05-26  295.00  297.50  293.50  295.50  35817481
2554  2330  2020-05-27  297.00  298.00  295.50  296.50  23375959
2555  2330  2020-05-28  298.50  298.50  293.00  294.00  32395568
2556  2330  2020-05-29  292.00  292.50  290.00  292.00  96611181
2557  2330  2020-06-01  294.00  296.50  293.50  295.50  37936214
2558  2330  2020-06-02  296.00  297.50  296.00  296.50  26663587
2559  2330  2020-06-03  300.00  301.00  298.00  301.00  67894337
2560  2330  2020-06-04  305.00  306.00  304.00  306.00  47225322
2561  2330  2020-06-05  308.50  312.00  308.00  311.50  44077262

[2562 rows x 7 columns]